<div class="card" style="min-width: 200px; padding-top: 20%;">
  <h1 style="text-align: center;">Add Task</h1>
  <div class="col-md-8 mx-auto" style="margin-left: 20%;">
<mat-dialog-content class="mat-typography">
  <form [formGroup]="registerForm" (ngSubmit)="save()" >
    <div class="form-group" style="padding: 10%; margin-left: 10%;">
      <div class="container" style="width: 250px;">
      
      <div class="form-group">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>From</mat-label>
            <input matInput id="fromDate" type="datetime-local"  formControlName="fromDate" name="fromDate" >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>To</mat-label>
            <input matInput id="toDate" type="datetime-local" formControlName="toDate" name="toDate" >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>comment</mat-label>
            <input matInput id="comment" type="text" formControlName="comment" name="comment" >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Task Type</mat-label>
            <mat-select  formControlName="type" name="food" id="type" name="type">
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Select-User</mat-label>
            <mat-select  formControlName="fullName" name="fullName" id="fullName" name="fullName">
              <mat-option *ngFor="let user of users" [value]="user.username">
                {{user.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

       
        
      </div>
      
      
      <div class="button-row">
        <button [disabled]="!registerForm.valid" mat-raised-button [mat-dialog-close]="true" color="primary" type="submit">Submit</button>
        <button mat-raised-button color="warn" type="reset">Clear</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </div>
    </div>
    </div>
  
  </form>
  <form [formGroup]="registerForm2" (ngSubmit)="saveSchedule()" >
    <div class="form-group" *ngIf="isAdmin">
      <table>
        <thead>
          <th></th>
          <th>MON</th>
          <th>TUE</th>
          <th>WED</th>
          <th>THU</th>
          <th>FRI</th>
        </thead>
        <tbody>
          <tr>
            <td style="width: 25%;">08:00 - 09:00</td>
            <td style="max-width: 50px;"><input formControlName="mon89" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue89" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed89" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu89" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri89" type="text" style="max-width:20px;"></td>
          </tr>
          <tr>
            <td>09:00 - 10:00</td>
            <td style="max-width: 50px;"><input formControlName="mon910" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue910" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed910" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu910" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri910" type="text" style="max-width:20px;"></td>
  
          </tr>
          <tr>
            <td>10:00 - 11:00</td>
            <td style="max-width: 50px;"><input formControlName="mon1011" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue1011" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed1011" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu1011" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri1011" type="text" style="max-width:20px;"></td>
  
          <tr>
            <td>11:00 - 12:00</td>
            <td style="max-width: 50px;"><input formControlName="mon1112" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue1112" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed1112" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu1112" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri1112" type="text" style="max-width:20px;"></td>
  
          </tr>
          
          <tr>
            <td>12:00 - 13:00</td>
            <td style="max-width: 50px;"><input formControlName="mon1213" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue1213" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed1213" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu1213" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri1213" type="text" style="max-width:20px;"></td>
  
          </tr>
          <tr>
            <td>13:00 - 14:00</td>
            <td style="max-width: 50px;"><input formControlName="mon1314" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue1314" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed1314" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu1314" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri1314" type="text" style="max-width:20px;"></td>
          </tr>
          <tr>
            <td>14:00 - 15:00</td>
            <td style="max-width: 50px;"><input formControlName="mon1415" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue1415" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed1415" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu1415" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri1415" type="text" style="max-width:20px;"></td>
  
          </tr>
          <tr>
            <td>15:00 - 16:00</td>
            <td style="max-width: 50px;"><input formControlName="mon1516" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue1516" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed1516" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu1516" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri1516" type="text" style="max-width:20px;"></td>
  
          </tr><tr>
            <td>16:00 - 17:00</td>
            <td style="max-width: 50px;"><input formControlName="mon1617" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="tue1617" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="wed1617" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="thu1617" type="text" style="max-width:20px;"></td>
            <td style="max-width: 50px;"><input formControlName="fri1617" type="text" style="max-width:20px;"></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <br>
    <div *ngIf="isAdmin" class="button-row" style="margin-left: 25%;">
      <button  mat-raised-button [mat-dialog-close]="true" color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="reset">Clear</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
  </form>
  
</mat-dialog-content>
</div>
</div>