<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<br>

<div class="container">
<div style="padding: 5%;">
  <button  #myButton (click)="showdata()" [hidden]="true">showdata</button>
  <full-calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
</div>
</div>